title Coboco IT
link(rel="stylesheet", href="/css/app.css")
meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
link(rel="apple-touch-icon-precomposed", sizes="57x57", href="/img/apple-touch-icon-57x57.png")
link(rel="apple-touch-icon-precomposed", sizes="60x60", href="/img/apple-touch-icon-60x60.png")
link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/img/apple-touch-icon-72x72.png")
link(rel="apple-touch-icon-precomposed", sizes="76x76", href="/img/apple-touch-icon-76x76.png")
link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/img/apple-touch-icon-114x114.png")
link(rel="apple-touch-icon-precomposed", sizes="120x120", href="/img/apple-touch-icon-120x120.png")
link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/img/apple-touch-icon-144x144.png")
link(rel="apple-touch-icon-precomposed", sizes="152x152", href="/img/apple-touch-icon-152x152.png")
link(rel="apple-touch-icon-precomposed", sizes="180x180", href="/img/apple-touch-icon-180x180.png")
base(href="/")
//- script(type="text/javascript", src="https://use.fontawesome.com/6784af9060.js")
script(type="text/javascript", src="https://use.fontawesome.com/releases/v5.0.1/js/all.js")
script.
  window.env = !{JSON.stringify(setEnv)}
  window.ver = !{JSON.stringify(appVersion)}
if !!setUser
  script.
    window.user = !{JSON.stringify(setUser)}